{% extends 'base.html' %}


{% block content %}

{% if object %}
    <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
    <h1>Add Elephant</h1>
{% endif %}


<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="btn" type="submit" value="Submit!">
    <script>
        const sexSelectEl = document.getElementById('id_sex');
        // const birthSelectEl = document.getElementById('id_birthdate');
        // const bdateSelectEl = document.getSelection
        // getElementById('select-options-59f0453f-b6d6-21a0-bc01-3c31e4765e4c1');
        // const diedSelectEl = document.getElementById('id_died');
        // const ddateSelectEl = document.getElementById('select-options-65e84b78-4699-b8d6-3d02-6e3dd1838e381');

        M.FormSelect.init(sexSelectEl);
        // M.FormSelect.init(birthSelectEl);
        // M.Datepicker.init(bdateSelectEl, {
        // format: 'yyyy',
        // defaultDate: new Date(),
        // setDefaultDate: true,
        // autoClose: true,
        // });
        // M.FormSelect.init(diedSelectEl);
        // M.Datepicker.init(ddateSelectEl, {
        // format: 'yyyy',
        // defaultDate: new Date(),
        // setDefaultDate: true,
        // autoClose: true,
        // });
    </script>
</form>

{% endblock %}