{% extends 'base.html' %}
{% block content %}

<h1>{{ user.username.capitalize }}'s Elephant{{ elephant.has_elephants.count|pluralize }}</h1>

{% for elephant in elephants %}
<div class="card">
    <div class="row">
        <a href="{% url 'detail' elephant.id %}">
            <div class="card-content">
                <div class="col s2">
                    {% for photo in elephant.photo_set.all %}
                    {% if forloop.first %}
                    <img style="max-height: 100px; margin-bottom: 1rem; " src="{{ photo.url }}" alt="{{ photo.elephant.name }}" class="responsive-img">
                    <br>
                    {% endif %}
                    {% empty %}
                    <img style="max-height: 100px; margin-bottom: 1rem; " src="https://icon-library.com/images/animals-512.png" alt="{{ photo.elephant.name }}" class="responsive-img">
                    <br>
                    {% endfor %} 
                </div>
                <div class="col s6">
                    <span class="card-title">{{ elephant.name }}</span>
                    <p>Affiliation: {{ elephant.affiliation }}</p>
                    <p>Note: {{ elephant.note }} </p>
                </div>
            </div>
        </a>
    </div>
</div>

{% endfor %}
{% endblock %}